Repository containerd/nerdctl, pull requests merged in 2022-10, with the labels that each got.

#1403 Drop dependency on github.com/docker/docker/registry
  cmd/nerdctl/login.go
  cmd/nerdctl/logout.go
  go.mod
  go.sum
  pkg/imgutil/dockerconfigresolver/dockerconfigresolver.go
  pkg/imgutil/dockerconfigresolver/dockerconfigresolver_util.go
Labels: kind/refactor

#1427 Use sys/windows to lock file
  pkg/lockutil/lockutil_windows.go
Labels: platform/Windows

#1449 examples: Add more examples of Kubernetes (Kind) + IPFS
  examples/nerdctl-ipfs-registry-kubernetes/README.md
  examples/nerdctl-ipfs-registry-kubernetes/ipfs-cluster/README.md
  examples/nerdctl-ipfs-registry-kubernetes/ipfs-cluster/bootstrap.yaml.sh
  examples/nerdctl-ipfs-registry-kubernetes/ipfs-cluster/nerdctl-ipfs-registry.yaml
  examples/nerdctl-ipfs-registry-kubernetes/ipfs-stargz-snapshotter/README.md
  examples/nerdctl-ipfs-registry-kubernetes/ipfs-stargz-snapshotter/bootstrap.yaml.sh
  examples/nerdctl-ipfs-registry-kubernetes/ipfs-stargz-snapshotter/nerdctl-ipfs-registry.yaml
  examples/nerdctl-ipfs-registry-kubernetes/ipfs/README.md
  examples/nerdctl-ipfs-registry-kubernetes/ipfs/bootstrap.yaml.sh
  examples/nerdctl-ipfs-registry-kubernetes/ipfs/nerdctl-ipfs-registry.yaml
Labels: documentation, area/ipfs

#1458 Add '--mode' to 'network inspect' in README
  README.md
Labels: documentation
