Repository containerd/nerdctl, pull requests merged in 2023-03, with the labels that each got.

#2064 Fix `operation not permitted` with systemd-homed
  cmd/nerdctl/container_run_mount.go
  pkg/mountutil/mountutil.go
  pkg/mountutil/mountutil_freebsd.go
  pkg/mountutil/mountutil_linux.go
  pkg/mountutil/mountutil_windows.go
Labels: area/rootless

#2042 cmd/compose: add support for profiles
  cmd/nerdctl/compose.go
  cmd/nerdctl/compose_up.go
  cmd/nerdctl/compose_up_linux_test.go
  docs/command-reference.md
  pkg/composer/composer.go
Labels: area/compose

#2041 refactor(container-list): separate main logic out of printing logic
  cmd/nerdctl/container_list.go
  pkg/cmd/container/list.go
Labels: kind/refactor

#2089 Add MAINTAINERS_GUIDE.md
  .github/workflows/release.yml
  MAINTAINERS
  MAINTAINERS_GUIDE.md
Labels: documentation, area/project

#2079 Port Windows device support from containerd
  cmd/nerdctl/container_run_windows.go
  cmd/nerdctl/container_run_windows_test.go
  docs/command-reference.md
Labels: platform/Windows/Non-WSL2

#2113 test: rootless: main: use v2 config
  Dockerfile.d/test-integration-etc_containerd-stargz-grpc_config.toml
  Dockerfile.d/test-integration-rootless.sh
Labels: area/ci, area/ipfs

#2038 Fix the top command on Windows
  cmd/nerdctl/container_top_unix_test.go
  cmd/nerdctl/container_top_windows_test.go
  go.mod
  pkg/cmd/container/top.go
  pkg/cmd/container/top_unix.go
  pkg/cmd/container/top_windows.go
Labels: platform/Windows/Non-WSL2

#1953 Refactor run command networking options for Windows support.
  cmd/nerdctl/container_create.go
  cmd/nerdctl/container_create_linux_test.go
  cmd/nerdctl/container_run.go
  cmd/nerdctl/container_run_network.go
  cmd/nerdctl/container_run_network_base_test.go
  cmd/nerdctl/container_run_network_linux_test.go
  cmd/nerdctl/container_run_network_windows_test.go
  cmd/nerdctl/image_encrypt_linux_test.go
  go.mod
  go.sum
  pkg/api/types/container_network_types.go
  pkg/cmd/container/remove.go
  pkg/containerutil/container_network_manager.go
  pkg/containerutil/container_network_manager_linux.go
  pkg/containerutil/container_network_manager_other.go
  pkg/containerutil/container_network_manager_test.go
  pkg/containerutil/container_network_manager_windows.go
  pkg/containerutil/containerutil.go
  pkg/nsutil/nsutil.go
  pkg/nsutil/nsutil_test.go
  pkg/ocihook/ocihook.go
  pkg/testutil/testutil.go
  pkg/testutil/testutil_freebsd.go
  pkg/testutil/testutil_linux.go
  pkg/testutil/testutil_windows.go
Labels: platform/Windows/Non-WSL2, kind/refactor

#2117 rootlessutil: always claim non-rootless on non-Linux.
  pkg/ocihook/ocihook.go
  pkg/ocihook/rootless_linux.go
  pkg/ocihook/rootless_other.go
  pkg/rootlessutil/child_linux.go
  pkg/rootlessutil/parent_linux.go
  pkg/rootlessutil/port_linux.go
  pkg/rootlessutil/rootlessutil_linux.go
  pkg/rootlessutil/rootlessutil_other.go
  pkg/rootlessutil/xdg_linux.go
Labels: area/rootless, platform/Windows/Non-WSL2, status/merge-on-green

#2131 Refactor image sign and verify logic
  cmd/nerdctl/container_run.go
  cmd/nerdctl/flagutil.go
  cmd/nerdctl/image_pull.go
  cmd/nerdctl/image_push.go
  pkg/api/types/image_types.go
  pkg/cmd/compose/compose.go
  pkg/cmd/image/pull.go
  pkg/cmd/image/push.go
  pkg/signutil/signutil.go
Labels: kind/refactor
