Repository containerd/nerdctl, pull requests merged in 2023-11, with the labels that each got.

#2619 nerdctl ps: implement `--format {{.Label "foo"}}`
  cmd/nerdctl/container_list.go
  cmd/nerdctl/container_list_test.go
  pkg/cmd/container/list.go
Labels: enhancement

#2623 chore(test): remove some incompatible in compose test
  cmd/nerdctl/compose_create_linux_test.go
  cmd/nerdctl/compose_down_linux_test.go
  cmd/nerdctl/compose_exec_linux_test.go
  cmd/nerdctl/compose_images_linux_test.go
  cmd/nerdctl/compose_kill_linux_test.go
  cmd/nerdctl/compose_port_linux_test.go
  cmd/nerdctl/compose_start_linux_test.go
  cmd/nerdctl/compose_stop_linux_test.go
Labels: area/ci, area/compose

#2649 Deflake TestContainerListWithFilter
  cmd/nerdctl/container_list_linux_test.go
  pkg/testutil/testutil.go
Labels: area/ci

#2650 Fix incompatible in `TestComposeExecTTY`
  cmd/nerdctl/compose_exec.go
  cmd/nerdctl/compose_exec_linux_test.go
Labels: area/compose
