Repository containerd/nerdctl, pull requests merged in 2023-09, with the labels that each got.

#2488 remove useless option from containerd-rootless-setuptool
  extras/rootless/containerd-rootless-setuptool.sh
Labels: area/rootless

#2505 docs: fix docs for supported quiet flag of push command
  docs/command-reference.md
Labels: documentation

#2482 MAINTAINERS: add Kay Yan (yankay) as a REVIEWER
  MAINTAINERS
Labels: area/project

#2507 Implement `nerdctl compose exec -T`
  cmd/nerdctl/compose_exec.go
  docs/command-reference.md
Labels: area/compose

#2510 compose: silence "build.config should be relative path" warning
  pkg/composer/serviceparser/build.go
Labels: area/compose

#2499 Add `compose cp` command
  cmd/nerdctl/compose.go
  cmd/nerdctl/compose_cp.go
  cmd/nerdctl/compose_cp_linux_test.go
  docs/command-reference.md
  pkg/composer/copy.go
Labels: area/compose

#2513 nerdctl compose cp: support rootless
  cmd/nerdctl/compose_cp.go
  cmd/nerdctl/compose_cp_linux_test.go
  cmd/nerdctl/main_linux.go
  docs/command-reference.md
  pkg/rootlessutil/rootlessutil_other.go
Labels: area/rootless, area/compose

#2518 Add SOCI snapshotter guideline in README.md
  README.md
  docs/soci.md
Labels: documentation

#2514 nerdctl version: skip inspecting rootless daemon if the daemon is not running
  cmd/nerdctl/main_linux.go
  cmd/nerdctl/version.go
Labels: area/rootless

#2509 Add compose ps flags
  cmd/nerdctl/compose_create_linux_test.go
  cmd/nerdctl/compose_down_linux_test.go
  cmd/nerdctl/compose_kill_linux_test.go
  cmd/nerdctl/compose_pause_linux_test.go
  cmd/nerdctl/compose_ps.go
  cmd/nerdctl/compose_ps_linux_test.go
  cmd/nerdctl/compose_restart_linux_test.go
  cmd/nerdctl/compose_stop_linux_test.go
  docs/command-reference.md
Labels: area/compose

#2534 docs: minor fixes to soci documentation
  docs/soci.md
Labels: documentation
