Repository containerd/nerdctl, pull requests merged in 2023-05, with the labels that each got.

#2062 testutil: Add HyperVSupported check
  cmd/nerdctl/container_rename_windows_test.go
  cmd/nerdctl/container_run_windows_test.go
  pkg/testutil/testutil_windows.go
Labels: platform/Windows/Non-WSL2

#2145 Add Windows tests for the container commands
  cmd/nerdctl/container_create_windows_test.go
  cmd/nerdctl/container_inspect_windows_test.go
  cmd/nerdctl/container_list_windows_test.go
  cmd/nerdctl/container_remove_windows_test.go
  pkg/testutil/testutil_windows.go
Labels: platform/Windows/Non-WSL2

#2207 Add Cosign keyless mode required args for nerdctl compose
  docs/cosign.md
  pkg/cmd/compose/compose.go
  pkg/composer/pull.go
  pkg/composer/serviceparser/serviceparser.go
Labels: area/compose, area/cosign

#2218 go.mod: github.com/opencontainers/image-spec v1.1.0-rc3
  go.mod
  go.sum
  pkg/imgutil/commit/commit.go
Labels: dependencies, go

#2214 Update Windows tests to use the check HyperV helper
  cmd/nerdctl/container_top_windows_test.go
Labels: platform/Windows/Non-WSL2

#2227 Allow printing of container logs that are not running
  pkg/cmd/container/logs.go
Labels: area/logging

#1952 go.mod: github.com/containerd/cgroups/v3 v3.0.1, github.com/docker/docker v24.0.0
  cmd/nerdctl/container_run_cgroup_linux_test.go
  cmd/nerdctl/container_stats_linux.go
  go.mod
  go.sum
  pkg/cmd/login/login.go
  pkg/defaults/cgroup_linux.go
  pkg/infoutil/infoutil_linux.go
  pkg/statsutil/stats_linux.go
Labels: dependencies, go

#2262 Ignore dependencies for compose build and logs
  cmd/nerdctl/compose_build_linux_test.go
  pkg/composer/build.go
  pkg/composer/logs.go
Labels: area/compose
