Repository containerd/nerdctl, pull requests merged in 2023-04, with the labels that each got.

#2144 Add manugupt1's GPG key
  MAINTAINERS
Labels: area/project

#2136 use digest instead of a tag while signing
  pkg/cmd/image/push.go
Labels: area/cosign

#2158 bump: buildkit to v0.11.3, fuse-overlayfs to v1.10, kubo to v0.18.1, runc to v1.1.5
  Dockerfile
  Dockerfile.d/SHA256SUMS.d/buildkit-v0.11.3
  Dockerfile.d/SHA256SUMS.d/buildkit-v0.11.5
  Dockerfile.d/SHA256SUMS.d/fuse-overlayfs-v1.10
  Dockerfile.d/SHA256SUMS.d/fuse-overlayfs-v1.11
  Dockerfile.d/SHA256SUMS.d/kubo-v0.18.1
  Dockerfile.d/SHA256SUMS.d/kubo-v0.19.0
Labels: dependencies

#2150 compose: implement `Bind.CreateHostPath`
  cmd/nerdctl/compose_up_test.go
  pkg/composer/serviceparser/serviceparser.go
  pkg/composer/up_service.go
Labels: enhancement, area/compose

#2157 add image to compose output
  cmd/nerdctl/compose_images.go
  cmd/nerdctl/compose_images_linux_test.go
  cmd/nerdctl/compose_ps.go
  cmd/nerdctl/compose_ps_linux_test.go
Labels: area/compose

#2185 Add Cosign keyless mode required args for nerdctl pull and run
  cmd/nerdctl/container_run.go
  cmd/nerdctl/flagutil.go
  cmd/nerdctl/image_pull.go
  docs/command-reference.md
  docs/cosign.md
  pkg/api/types/image_types.go
  pkg/signutil/cosignutil.go
  pkg/signutil/signutil.go
Labels: area/cosign
