Repository containerd/nerdctl, pull requests merged in 2024-08, with the labels that each got.

#3200 fix: output log even log is rotated
  go.mod
  go.sum
  pkg/logging/cri_logger.go
  pkg/logging/cri_logger_test.go
  pkg/logging/json_logger.go
  pkg/logging/json_logger_test.go
  pkg/logging/jsonfile/jsonfile.go
  pkg/logging/logging.go
  pkg/logging/logs_other.go
  pkg/logging/logs_windows.go
Labels: area/logging

#3291 feat(compose): add mac-address parsing
  pkg/composer/serviceparser/serviceparser.go
Labels: area/compose

#3270 enforce authentication realm for dockerhub login
  pkg/cmd/login/login.go
Labels: area/login

#3285 Make windows filelocking exclusive
  pkg/lockutil/lockutil_windows.go
Labels: platform/Windows/Non-WSL2

#3299 Ensure binfmt does install emulation for arm7 on the CI
  .github/workflows/test-canary.yml
  .github/workflows/test.yml
Labels: area/ci, platform/ARM

#3296 Kube on the CI
  .github/workflows/test-kube.yml
  .github/workflows/test.yml
  Dockerfile
  cmd/nerdctl/container_commit_linux_test.go
  cmd/nerdctl/container_run_restart_linux_test.go
  hack/build-integration-canary.sh
  hack/build-integration-kube.sh
  hack/kind.yaml
  hack/scripts/lib.sh
  pkg/testutil/testutil.go
Labels: area/ci, area/kubernetes

#3321 Add linter to Canary and fix go 1.23 linting issues
  .github/workflows/test-canary.yml
  .github/workflows/test.yml
  cmd/nerdctl/compose_exec_linux_test.go
  cmd/nerdctl/container_create_linux_test.go
  cmd/nerdctl/container_run_linux_test.go
  cmd/nerdctl/image_convert_linux_test.go
  hack/build-integration-canary.sh
  hack/scripts/lib.sh
  pkg/composer/run.go
  pkg/containerutil/container_network_manager.go
  pkg/logging/cri_logger_test.go
  pkg/logging/json_logger_test.go
  pkg/testutil/testutil.go
Labels: area/ci

#3045 Support CI on ARM64
  .github/workflows/test.yml
  pkg/testutil/testutil_linux.go
Labels: area/ci, platform/ARM

#3339 Implement windows filename restrictions
  pkg/identifiers/validate.go
  pkg/identifiers/validate_other.go
  pkg/identifiers/validate_windows.go
Labels: platform/Windows/Non-WSL2

#3338 Kubernetes minor cleanup (rename and -f on delete)
  .github/workflows/test-kube.yml
  cmd/nerdctl/container_commit_linux_test.go
  hack/build-integration-kubernetes.sh
  pkg/testutil/testutil.go
Labels: area/kubernetes

#3367 Allow Canary to fail the build
  .github/workflows/test-canary.yml
Labels: area/ci

#3374 Disable flaky #827 test
  cmd/nerdctl/container_commit_linux_test.go
Labels: area/ci, area/kubernetes
