Repository containerd/nerdctl, pull requests merged in 2024-04, with the labels that each got.

#2906 Implement `nerdctl run --annotation` (introduced in Docker v24)
  README.md
  cmd/nerdctl/compose_up_linux_test.go
  cmd/nerdctl/container_create.go
  cmd/nerdctl/container_run.go
  docs/command-reference.md
  docs/rootless.md
  extras/rootless/containerd-rootless-setuptool.sh
  pkg/annotations/annotations.go
  pkg/api/types/container_types.go
  pkg/bypass4netnsutil/bypass.go
  pkg/bypass4netnsutil/bypass4netnsutil.go
  pkg/cmd/container/create.go
  pkg/cmd/container/run_linux.go
  pkg/composer/serviceparser/serviceparser.go
  pkg/labels/labels.go
  pkg/ocihook/ocihook.go
Labels: impact/major, area/bypass4netns

#2916 bypass4netns: allow disabling bind
  pkg/annotations/annotations.go
  pkg/bypass4netnsutil/bypass.go
  pkg/bypass4netnsutil/bypass4netnsutil.go
  pkg/ocihook/ocihook.go
Labels: area/rootless, area/bypass4netns

#2926 Fix the nerdctl stop printing after rotating the json log file
  cmd/nerdctl/container_logs_test.go
  pkg/logging/json_logger.go
Labels: area/logging

#2957 update containerd (1.7.16), BuildKit (0.13.2), slirp4netns (1.3.0), RootlessKit (2.1.0)
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.d/SHA256SUMS.d/buildkit-v0.13.1
  Dockerfile.d/SHA256SUMS.d/buildkit-v0.13.2
  Dockerfile.d/SHA256SUMS.d/rootlesskit-v2.0.2
  Dockerfile.d/SHA256SUMS.d/rootlesskit-v2.1.0
  Dockerfile.d/SHA256SUMS.d/slirp4netns-v1.2.3
  Dockerfile.d/SHA256SUMS.d/slirp4netns-v1.3.0
Labels: cherry-pick/1.7
