Repository containerd/nerdctl, pull requests merged in 2024-12, with the labels that each got.

#3710 docs: the next release will be v2.0.1, not v2.1.0
  docs/config.md
Labels: documentation

#3718 Marking TestCreate/logs as flaky
  cmd/nerdctl/container/container_create_test.go
Labels: area/ci

#3687 feat: add force-recreate and no-recreate for compose up command
  cmd/nerdctl/compose/compose_create.go
  cmd/nerdctl/compose/compose_up.go
  docs/command-reference.md
  pkg/composer/container.go
  pkg/composer/logs.go
  pkg/composer/run.go
  pkg/composer/up.go
  pkg/composer/up_service.go
Labels: area/compose

#3724 Create directory for bypass4netns pid file
  pkg/bypass4netnsutil/bypass4netnsutil.go
Labels: area/rootless, area/bypass4netns

#3703 fix: enable --env-file flag behavior in nerdctl compose
  docs/command-reference.md
  pkg/composer/up_service.go
Labels: area/compose

#3745 3432: Support --pull flag in nerdctl compose up
  cmd/nerdctl/compose/compose_up.go
  cmd/nerdctl/compose/compose_up_linux_test.go
  docs/command-reference.md
  pkg/composer/create.go
  pkg/composer/run.go
  pkg/composer/up.go
  pkg/composer/up_service.go
Labels: area/compose

#3780 doc:add some doc for ulimit
  docs/command-reference.md
Labels: documentation
